* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

body{
    overflow-y: hidden;
}

#container {
    background-color: #F0F3F7;
    padding: 10px;
}

#content {
    margin: 0 10px;
}

#sidebar>div {
    margin-top: 20px;
}

#sidebar ul#menu {
    color: #626E7E;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    width: 100%;
}

#sidebar ul#menu li {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

#sidebar ul#menu li:hover {
    background-color: #D7ECFF;
    border-radius: 14px;
}

#sidebar ul#menu li.active {
    background-color: #D7ECFF;
    border-radius: 14px;
}

#sidebar ul#menu li.active a>span.icon>svg path {
    fill: #0071D1;
}

#sidebar ul#menu li:hover a {
    color: #0071D1;
}

#sidebar ul#menu li.active a {
    color: #0071D1;
}

#sidebar ul#menu li a>span>svg path {
    fill: #000;
}

#sidebar ul#menu>li:nth-child(5):hover>a>span>svg>path {
    stroke: #0071D1;
    fill: none;
}

/* toastr */

div#toast-container>.toast::before {
    content: '';
    width: 3px;
    height: 70%;
    z-index: 9999;
    left: 15px;
    position: absolute;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

div#toast-container>.toast.toast-success::before {
    background-color: #3BFF97;
}

div#toast-container>.toast.toast-error::before {
    background-color: #F54E4E;
}

#toast-container>.toast {
    display: block;
    background: #fff;
    opacity: 1 !important;
    width: 350px;
    border-radius: 10px;
    padding: 15px 15px 15px 30px;
}

#toast-container .toast.toast-success {
    border: 2px solid #3BFF97;
}

#toast-container .toast.toast-error {
    border: 2px solid #F54E4E;
}

#toast-container .toast.toast-success button.toast-close-button {
    color: #3BFF97 !important;
}

#toast-container .toast.toast-error button.toast-close-button {
    color: #F54E4E !important;
}

#toast-container .toast-message,
#toast-container .toast-title {
    color: #000;
}

#toast-container .toast-title {
    font-size: 18px;
}

#toast-container .toast-message {
    font-size: 14px;
}

#toast-container button.toast-close-button::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    width: 20px;
    height: 20px;
}

.show-status {
    position: relative;
    top: 5px;
}

table.dataTable,
table.dataTable thead th {
    width: inherit !important;
}

#pills-coordonnees li {
    border: 0 !important;
}

@media (min-width: 1400px) {
    #dashboard .right-image {
        width: 315px;
    }
}

@media (min-width: 980px) {
    .white-space {
        white-space: nowrap;
    }
}

.finalized-status,
.delivered-status,
.request-status {
    background-color: #0071D1 !important;
}

#dashboard span.badge {
    font-size: 14px;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

#documents .btn:focus {
    box-shadow: none;
}

h2.title {
    font-size: 1.5rem;
}

.sidebar {
    position: absolute;
    border-radius: 8px;
    width: 78px;
    background: #11101D;
    min-height: 100vh;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

ul.nav-list {
    padding-left: 0;
}

.sidebar .logo-details {
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
}

.sidebar.open .bx-search:hover {
    background: #1d1b31;
    color: #FFF;
}

.sidebar .bx-search:hover {
    background: #FFF;
    color: #11101d;
}

.sidebar li a {
    display: flex;
    align-items: center;
}

.sidebar li button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.sidebar li button span.links_name {
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar li a .links_name {
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    display: none;
}

.sidebar.open li a .links_name {
    color: #000;
    opacity: 1;
    pointer-events: auto;
    margin-left: 15px;
    display: block;
}

#sidebar ul#menu li a>span>svg path {
    fill: rgb(98, 110, 126);
}

#sidebar ul#menu li:hover button>span>svg path,
#sidebar ul#menu li:hover a>span>svg path {
    fill: #0071D1;
}

.sidebar.open li.active button .links_name,
.sidebar.open li:hover button .links_name,
.sidebar.open li.active a .links_name,
.sidebar.open li:hover a .links_name {
    color: #0071D1;
}

.sidebar li a.add_link {
    opacity: 0;
    transition: 0.4s;
}

.sidebar.open li a.add_link {
    opacity: 1;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
}

.sidebar li span.icon {
    line-height: 30px;
}

#sidebar ul#menu li a#contact>span>svg path {
    fill: #fff;
}

.sidebar.open li a#contact .links_name {
    color: #fff;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li button span.links_name {
    opacity: 1;
    pointer-events: auto;
    margin-left: 15px;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    /* z-index: 2; */
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

#menu>li>a>span.icon>i::before {
    font-size: 24px;
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}

#interventions_date_content>div.form-control.input {
    display: none;
}

.swal2-icon-error h2#swal2-title {
    text-align: center !important;
}

.swal2-modal {
    padding-bottom: 3em !important;
}

.input-container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: row;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.check-list {
    border-radius: 4px;
    box-shadow: 10px 10px 0 darken($body-bg, 5%);
    list-style: none;
    padding: 0;
    position: relative;
}

.check-list li {
    background-color: #fff;
}

.check-list li input[type=checkbox]:checked+span {
    text-decoration: line-through;
    color: #aaa;
}

.check-list li span {
    display: inline-block;
    margin-left: 12px;
    color: #555;
}

.profile-pic img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.profile-pic .profile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.profile-pic .profile-logo p {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.profile-pic .blue {
    border: 1px solid #4285F4;
    background: rgba(66, 133, 244, 0.2);
}

.profile-pic .blue p {
    color: #4285F4;
}

.profile-pic .yellow {
    border: 1px solid #F4B400;
    background: rgba(244, 180, 0, 0.2);
}

.profile-pic .yellow p {
    color: #F4B400;
    top: -44%;
    left: 30%;
}

.profile-pic .green {
    border: 1px solid #0F9D58;
    background: rgba(15, 157, 88, 0.2);
}

.profile-pic .green p {
    color: #0F9D58;
}

.center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/** Custom Select **/

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    display: inline-block;
    padding: inherit;
    height: auto;
}

.custom-select-trigger {
    position: relative;
    display: block;
    width: 119px;
    padding: 0 84px 0 22px;
    font-size: 19px;
    font-weight: 300;
    color: #fff;
    line-height: 25px;
    background: #5587b7;
    border-radius: 4px;
    cursor: pointer;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
    background: #fff;
    transition: all .4s ease-in-out;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}

.custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%;
    right: 25px;
    width: 7px;
    height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}

.option-hover:before {
    background: #f9f9f9;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #b5b5b5;
    font-size: 18px;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
    background: #f9f9f9;
}

.message-dates {
    margin-right: inherit;
    display: flex;
    flex-direction: column;
    align-items: center
}

.message-filter-select {
    height: 50px;
    overflow-y: overlay;
}

.message-card {
    display: flex;
    align-content: flex-start;
    align-items: self-end;
    background-color: white;
    /* box-shadow: rgb(88 88 92 / 20%) 0px 4px 10px 0px; */
}

.message-from-detail {
    display: flex;
    align-content: flex-start;
    align-items: center;
    background-color: white;
}

.message-text {
    font-family: cursive;
    font-size: 11px;
}

.message-card-priority {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:stretch
}

.priority {
    background-color: #dbd6d6;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    padding: 3px;
    background-color: #fcffe5;
}

.message-card-cl {
    border-left-style: solid;
    border-left-color: #ffc264;
}

.sticky {
    position: fixed;
    top: -15px;
    height: 117px;
    z-index: 10;
    background-color: #f0f3f7;
    width: 91%;
    padding-top: 20px;
}

.sticky-bar {
    background-color: #ffff;
    border-radius: 5px;
    min-height: 30px;
    position: fixed;
    top: 63px;
    z-index: 10;
    background-color: #ffffff;
    width: 92%;
}

#table_data {
    overflow-y: auto;
    height: 670px;
    top: 93px;
}

.filter-card {
    top: 92px;
    max-height: 670px;
}

@media screen and (max-width: 1600px) {
    .filter-card {
        top: 92px;
        max-height: 580px;
    }

    #table_data {
        overflow-y: auto;
        height: 575px;
        top: 93px;
    }
    .sticky-bar {
        max-width: 90%;
    }
}

.panel-heading {
    max-height: 25px;
    background-color: #f0f3f7;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    max-width: 37px;
    margin-bottom: 20px;
}

.mark {
    display: inline-block;
    min-width: 30px;
    min-height: 25px;
    text-align: center;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 2px solid #FFF;
    background-color: #FF6B6B;
    top: -20px;
    left: -10px;
    font-size: 10px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFF;
    font-weight: 700;
}

.change-status-msg:hover {
    color: green;
}

.mark:hover {
    color: white;
    background-color: #86bfbf;
}

.msg-list-drop:hover {
    cursor: pointer;
}
.msg-list-drop div > div:hover {
    background-color: #e3f0fb;
}
.sub-msg{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;height: 1.2em;
    white-space: nowrap;
}

.msg-status {
    width: 52px;
    height: 30px;
    font-size: 11px;
    text-align: center;
}

.msg-read{
    font-size: 10px;
}

.inactive-msg-type {
    color: #aec2d7;
}

.active-msg-type {
    color: #1271d2;
}
.filter-msg-type:hover, .msg-actions:hover, .panel-title:hover{
    cursor: pointer;
}
.msg-actions i {
    color: #1271d2;
    position: relative;
    top: 3px;
}
.msg-actions span {
    font-size: 10px;color: #1271d2;
}
.delete-check,.read-msg,.no-read-msg{
    display: flex;
    justify-content: space-between
}


.button-17 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 28px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 110px;
    will-change: transform,opacity;
    z-index: 0;
}
.button-17:hover {
    background: #F6F9FE;
    color: #174ea6;
}

.button-17:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.button-17:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}


.header-secondary {
    background-color: #f5f7f9;
    height: 56px;
    border-bottom: 1px #cfd7df solid;
    padding: 0 15px;
    box-shadow: 0 2px 4px 0 rgb(24 50 71 / 8%);
}

.app-icon-btn {
    height: 32px;
    min-width: 32px;
    border-radius: 4px;
    border: 1px solid #cfd7df;
    color: #12344d;
    cursor: pointer;
    padding-top: 5px;
    margin-right: 2px;
    font-size: 14px;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    transition: .1s ease-in;
    background-image: linear-gradient(to bottom, #fff, #f3f5f7);
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.container, .container-fluid {
    margin-right: auto;
    margin-left: auto;
}

#post_list{
    overflow-y: auto;
    height:400px;
    top: 93px;
}

.loading{
    position:relative;
    margin-left: 30%;
    color:#2e2500;
    font-size: 30px
}

.required:after {
    content: " *";
    color: red;
}

.dropdown-el {
    min-width: 12em;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    min-height: 2em;
    max-height: 2em;
    overflow: hidden;
    top: 0.5em;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #444;
    outline: none;
    border: 0.06em solid transparent;
    border-radius: 1em;
    background-color: #cde4f5;
    transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
    background: #def;
}
.dropdown-el input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
}
.dropdown-el label {
    border-top: 0.06em solid #d9d9d9;
    display: block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
    margin-top: 2em;
    border-top: 0.06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
    margin-top: 0;
    position: relative;
}
.dropdown-el::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: 0.3em solid #3694d7;
    border-color: #3694d7 transparent transparent transparent;
    transition: 0.4s all ease-in-out;
}
.dropdown-el.expanded {
    border: 0.06em solid #3694d7;
    background: #fff;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height: 15em;
}
.dropdown-el.expanded label {
    border-top: 0.06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
    color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
    color: #3694d7;
}
.dropdown-el.expanded::after {
    transform: rotate(-180deg);
    top: 0.55em;
}
